<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Dashboard3a - Detalles sugerencia</title>
	<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.13/push.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../styles.css" />
	<script src="../scriptdetallessugerencia.js" />
	<style>
	td, th {
		text-align: center;
	}
	</style>
</head>
<body>
	<div class="logout-section">
		<a href="/cerrarSesion">Cerrar sesión</a>
	</div>
	<h1>Detalles de la sugerencia</h1>
	<table class="table" id="detallesSugerencia">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titulo</th>
				<th>Fecha</th>
				<th>Votos positivos</th>
				<th>Votos negativos</th>
				<th>Votos totales</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="idSugerencia" th:text="${detalles.id}" align="center" />
				<td th:text="${detalles.contents}" />
				<td th:text="${detalles.creationDate}" />
				<td id="votosPositivos" th:text="${detalles.positiveVotes}" align="center" />
				<td id="votosNegativos" th:text="${detalles.negativeVotes}" align="center" />
				<td id="votosTotales" th:text="${detalles.totalVotes}" align="center" />
			</tr>
		</tbody>
	</table>

	<h2>Valoración media de la propuesta:</h2>
	<div th:if="${valoracion} &lt; 0.5">
		<p id="pValoracion" th:text="${valoracion}" style="color: red;text-align:center;"></p>
	</div>
	<div th:unless="${valoracion} &lt; 0.5">
		<p id="pValoracion" th:text="${valoracion}" style="color: green;text-align:center;"></p>
	</div>

	<h2>Comentarios de la propuesta</h2>
	<table class="table table-hover" id="tablaComentarios">
		<thead>
			<tr>
				<th>Id</th>
				<th>Comentario</th>
			</tr>
		</thead>
		<tbody id="tablaComentariosBody">
			<tr th:each="comentario : ${comentarios}">
				<td th:text="${comentario.id}" align="center" />
				<td th:text="${comentario.contents}" />
			</tr>
		</tbody>
	</table>
	<h2>Diagrama circular - Relación votos</h2>
	<div id="canvas-holder" style="width:400px;margin: 0 auto;">
		<canvas id="myChart"></canvas>
	</div>
	<script>
	function ViewCharts() {
		var ctx = document.getElementById("myChart").getContext('2d');
	window.myChart = new Chart(ctx, {
	type: 'pie',
	responsive: true,
	maintainAspectRatio: false,
	data: {
	  labels: ["Votos Positivos", "Votos Negativos"],
	  datasets: [{
	    backgroundColor: [
	      "#2ecc71",
	      "#3498db",
	      "#95a5a6",
	      "#9b59b6",
	      "#f1c40f",
	      "#e74c3c",
	      "#34495e"
	    ],
	    data: [parseInt(document.getElementById("votosPositivos").innerHTML), parseInt(document.getElementById("votosNegativos").innerHTML)]
	  }]
	}
	});
	}

	ViewCharts();
	</script>
</body>
</html>
