<html>
<head>
<title>Hola</title>
<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script>
	$(document).ready(function() {
	var comentarioList = $("#comentarios");
	var sugerenciaList = $("#sugerencias");
	
	var socket = new SockJS('/stomp');

	var stompClient = Stomp.over(socket);

    stompClient.connect({ }, function(frame) {
		stompClient.subscribe("/topic/sugerencias", function(data) {
			var sugerencia = JSON.parse(data.body);
			var encontrado = false;
			
			$(".sugerenciaLi").each(function(i) {
				if (this.innerHTML === sugerencia.contenido) {
					this.innerHTML = sugerencia.contenido + ": " + sugerencia.votosPositivos;
					encontrado = true;
					return false;
				}
			});
			
			if (!encontrado)
				sugerenciaList.append("<li>" + sugerencia.contenido + ": " + sugerencia.votosPositivos + "</li>");
		});
		
		stompClient.subscribe("/topic/comentarios", function(data) {
			var comentario = JSON.parse(data.body);
			var encontrado = false;
			
			$(".comentarioLi").each(function(i) {
				if (this.innerHTML === comentario.contenido) {
					encontrado = true;
					return false;
				}
			});
			
			if (!encontrado)
				comentarioList.append("<li>" + comentario.contenido + "</li>");
		});
    });
});
</script>
</head>
<body>
<h1>Dashboard3a</h1>
<h2>Sugerencias:</h2>
<ul id="sugerencias">
     <li class="sugerenciaLi" th:each="item: ${sugerencias}" th:text="${item.contenido}"></li>
</ul>
<h2>Comentarios:</h2>
<ul id="comentarios">
	<li class="comentarioLi" th:each="item: ${comentarios}" th:text="${item.contenido}"></li>
</ul>
</body>
</html>