<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Eleccion de modulo</title>
</head>
<body>	
	<h1 align="center">Seleccione módulo</h1>
	<div align="center">
		<table border="1">
			
			<tr>
				<td>
					<form th:action="@{/pasoParticipants}" method="POST">
						<div align="center">
							 <button id="pasoParticipants" type="submit">Participants</button>
					    </div>
					</form>
				</td>
			</tr>
			
			<tr>
				<td>
					<form th:action="@{/pasoPSystem}" method="POST">
						<div align="center">
							 <button id="pasoPSystem" type="submit">Participation System</button>
					    </div>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>