<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de sugerencias</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="POST">
					<button class="btn btn-primary" id="logout" type="submit" name="logout">Cerrar sesion</button>
		</form>
	</div>

	<h2>Nueva palabra prohibida</h2>
	<form th:action="@{/anadirPalabra}" method="POST">
		<div>
			<table border="1">
				<tr>
				    <td><label for="palabra">Palabra: </label></td>
				    <td><input class="form-control" type="text" id="palabra" name="palabra"/></td>
			    </tr>
			    <tr>
			    	<td/>
			    	<td align="center"><button class="btn btn-primary" id="nuevaPalabra" type="submit">Añadir</button></td>
			    </tr>
		    </table>
	    </div>
	</form>

	<h2>Sugerencias recibidas</h2>
	<div th:id="todas">
			<table border="1" class="table table-hover">
				<tr>
					<th>Contenido</th>
					<th></th>
					<th>Usuario</th>
					<th></th>
				</tr>
				<tr th:each="s : ${sugerencias}">
			                  <td th:text="${s.contents}" align="center"/>
			                  <td></td>
			                  <td th:text="${s.user.username}" align="center"/>
		       				  <td></td>
		       				  <td align="center">
			       				  <form th:action="@{/mostrarAdmin(sugerencia=${s.id})}" method="POST">
			       				  	<button class="btn btn-primary" id="ver" type="submit" name="ver" th:value="${s.contents}">
			       				  	Mostrar
			       				  	</button>

			       				  </form>
		       				  </td>
		       				  <td align="center">
			       				  <form th:action="@{/eliminarSugerencia(sugerencia=${s.id})}" method="POST">
			       				  	<button class="btn btn-primary" id="eliminar" type="submit" name="eliminar" th:value="${s.contents}">
			       				  	Eliminar
			       				  	</button>

			       				  </form>
		       				  </td>
				</tr>
			</table>
</div>
</body>
</html>
