<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Dashboard3a - Listado sugerencias</title>
	<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../styles.css" />
	<script>
		$(document).ready(function() {
		var tabla = $("#tablaSugerenciasBody");

		var socket = new SockJS('/stomp');

		var stompClient = Stomp.over(socket);

	    stompClient.connect({ }, function(frame) {
			stompClient.subscribe("/topic/sugerencias", function(data) {
				var sugerencia = JSON.parse(data.body);
				var encontrado = false;

				$(".titSugerencia").each(function(i) {
					if (this.innerHTML === sugerencia.contents) {
						$(this).next().next().html("" + (sugerencia.positiveVotes + sugerencia.negativeVotes));
						encontrado = true;
						return false;
					}
				});

				if (!encontrado) {
					var htmlstring = `
					<tr>
						<td>${sugerencia.id}</td>
						<td class="titSugerencia">${sugerencia.contents}</td>
						<td>${moment(new Date(sugerencia.creationDate)).format("YYYY-MM-DD")}</td>
						<td class="votos_totales" align="center">${sugerencia.totalVotes}</td>
						<td align="center">${sugerencia.numComments}</td>
						<td><a href="sugerencias/${sugerencia.id}">Detalles</a></td>
					</tr>
					`;
					 tabla.append(htmlstring);
				}
			});
	    });
	});
	</script>
	<style>
	td, th {
		text-align: center;
	}
	</style>
</head>
<body>
	<div class="logout-section">
		<a href="/cerrarSesion">Cerrar sesión</a>
	</div>
	<h1>Propuestas actualmente en el sistema</h1>
	<table class="table table-hover" id="tablaSugerencias">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titulo</th>
				<th>Fecha</th>
				<th>Votos totales</th>
				<th>Num. comentarios</th>
				<th>Detalles</th>
			</tr>
		</thead>
		<tbody id="tablaSugerenciasBody">
			<tr th:each="sugerencia : ${sugerencias}">
				<td th:text="${sugerencia.id}" align="center"/>
				<td class="titSugerencia" th:text="${sugerencia.contents}"/>
				<td th:text="${sugerencia.creationDate}"/>
				<td th:text="${sugerencia.totalVotes}" align="center" />
				<td th:text="${sugerencia.numComments}" align="center" />
				<td><a th:href="@{sugerencias/{id}(id=${sugerencia.id})}" th:text="Detalles"></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
