<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participants3a - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/login_styles.css" />
</head>
<body>
  <div class="wrapper">
    <form action="validarse" method="post" class="form-signin">
      <h2 class="form-signin-heading">Bienvenido/a</h2>
      <input type="text" class="form-control" name="email" placeholder="E-mail" required="" autofocus="" />
      <br />
      <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
      <br />
	  <div th:if="${invalidUser}">
	  	<p style="color: red;text-align:center;">Usuario o contraseña incorrecto</p>
	  </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
    </form>
  </div>
</body>
</html>
